#home {
  overflow: hidden;
  font-family: "Times";
  /*font-size: 125%;*/
  /*font-weight: bold;*/
  /*line-height: 75%;*/
}

#canvasWrap {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
}
.box1 {
		position: fixed;
		margin: 0;
		padding: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		size: cover;
                #background-color: rgb(69,151,250);
		background-image: url("../media/wilderness.gif");
		background-size: cover;
		background-repeat: no-repeat;
		}

#backgroundColorBox {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(69,151,250);
}

#title {
 position: absolute;
 top: 1%;
 left: 35%;
 width: 30%;
 height: 16%;
 color: blue;
 text-decoration: underline;
}

.box-link {
		position: fixed;
		top: 8%;
		left: 8.5%;
		width: 83px;
		height: 83px;
		background-color: transparent;
		#border: 1px dashed blue;
		text-align: center;
		color: red;

}

.box-link2 {
		position: fixed;
		top: 29.5%;
		left: 7.8%;
		width: 83px;
		height: 83px;
		background-color: transparent;
		#border: 1px dashed blue;
		text-align: center;
		color: red;

}

.box-link3 {
		position: fixed;
		top: 52.5%;
		left: 7.8%;
		width: 83px;
		height: 83px;
		background-color: transparent;
		#border: 1px dashed blue;
		text-align: center;
		color: red;

}

.box-link4 {
		position: fixed;
		top: 78.2%;
		left: 15.6%;
		width: 83px;
		height: 83px;
		background-color: transparent;
		#border: 1px dashed blue;
		text-align: center;
		color: red;

}

#cloudCanvas {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
}

#cloudBehindCanvas {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 10%;
}

#rainCanvas {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 95%;
}

#treeCanvas {
	position: fixed;
	top: 0%;
	left: 60%;
	width: 100%;
	height: 100%;
}

#riverCanvas {
	position: fixed;
	top: 0%;
	left: 30%;
	width: 30%;
	height: 100%;
}

#nightCanvas {
 position: absolute;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
}

#tree-plot {

	#background-color: yellow;
}

#puddleDiv {
 position: absolute;
 left: 22%;
 top: 16%;
 width: 10%;
 height 7%;
}

#puddleDiv img {
 width: 70%;
 height 70%;
}

#puddleDiv2 {
 position: absolute;
 left: 29%;
 top: 18%;
 width: 10%;
 height 10%;
}

#puddleDiv2 img {
 width: 50%;
 height 50%;
}

#puddleDiv3 {
 position: absolute;
 left: 26%;
 top: 26%;
 width: 10%;
 height 10%;
}

#puddleDiv3 img {
 width: 40%;
 height 40%;
}
.box2 {
		position: fixed;
		margin: 0;
		padding: 0;
		top: 50%;
		left: 50%;
		width: 25%;
		height: 25%;
		size: cover;
		#background-image: url("../media/backgroundGif.gif");
		background-size: cover;
		background-repeat: no-repeat;
		}

.flag-box {
	position: fixed;
	top: 0%;
	left: 8%;
	width: 10%;
	height: 11%;
	#background-image: url("flag.png");
}

.flag-box img {
	top: 0%;
	left: 0%;
	width: 60%;
	height: 100%;
}

.flag-box2 {
	position: fixed;
	top: 22%;
	left: 7%;
	width: 10%;
	height: 11%;
	#background-image: url("flag.png");
}

.flag-box2 img {
	top: 0%;
	left: 0%;
	width: 60%;
	height: 100%;
}

.flag-box3 {
	position: fixed;
	top: 43.5%;
	left: 7%;
	width: 10%;
	height: 11%;
	#background-image: url("flag.png");
}

.flag-box3 img {
	top: 0%;
	left: 0%;
	width: 60%;
	height: 100%;
}

.flag-box4 {
	position: fixed;
	top: 71%;
	left: 15%;
	width: 10%;
	height: 11%;
	#background-image: url("flag.png");
}

.flag-box4 img {
	top: 0%;
	left: 0%;
	width: 55%;
	height: 90%;
}


h1 {
    color: yellow;
    margin-left: 20px;
    text-align: center;
    line-height: 40%;
    font-size: 225%;
}

h2 {
    color: yellow;
    margin-left: 20px;
    text-align: center;
    line-height: 90%;
    font-size: 125%;
}
