@media (max-width:992px) {
  #nav-menu {
    display: none;
  }
  #min-nav-menu {
    display: block;
  }
}

@media (max-width:698px) {
  #skill-filter {
    height: 150px;
    text-align: center;
  }
  #contain-education {
    text-align: center;
  }
}

/*body {
  background-color: #aaccaa;
}*/
