#nav-menu {
  color: red;
  font-family: "Times New Roman", Times, serif;
}
#nav-menu .image {
  position: relative;
}
#nav-menu h5 {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0%;
  width: 100%;
  pointer-events: inherit;
}
