<!-- <title>AnkiHg - world wide wilderness2</title>
<head>
<link rel="stylesheet" type="text/css" href="../styles/home.css">
<link type="text/css" rel="StyleSheet" href="http://s102.ucoz.net/src/social.css" />
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="../vendors/jquery.simpleWeather.js"></script>
</head>
<html>

<body onLoad="setUp()"> -->

<!-- <script>

</script> -->

<section data-ng-init="homeCtrl.setUp()">
  <div id="canvasWrap">
  </div>

  <canvas id="backgroundColorBox">
  </canvas>

  <div class="box1" id="background">
   <div id="title">
   <h1>ANNIKA HAGELIN</h1>
   <h2>SOFTWARE DEVELOPER</h2>
   </div>
  </div>

  <canvas id="nightCanvas"">
   </canvas>

  <canvas id="rainCanvas"">
  <span id="rainCanvas">
   </span>
   </canvas>

  <canvas id="riverCanvas" onClick="fishJump()">
  <span id="riverCanvas">
   </span>
   </canvas>

  <! project peak>
  <div class="flag-box">
   <span id="demo2">

   </span>
  </div>

  <a href="http://ankihg-professional.herokuapp.com/" onMouseOver="enterMouse('demo2');" onMouseOut="exitMouse('demo2');">
  <div class="box-link">
  <span id="demo">
   <p>project </br> &nbsp; &nbsp; peak</p>
   </span>
   </div>
  </a>

  <! resume ridge>
  <div class="flag-box2">
   <span id="demo3">

   </span>
  </div>

  <a href="/AnnikaHagelinResume_online.pdf" target="_blank" onMouseOver="enterMouse('demo3');" onMouseOut="exitMouse('demo3');">
  <div class="box-link2">
  <span id="demo">
   <p>resume </br> ridge</p>
   </span>
   </div>
  </a>

  <! linked in>
  <div class="flag-box3">
   <span id="demo4">

   </span>
  </div>

  <a href="https://www.linkedin.com/pub/annika-hagelin/ab/949/a8b" target="_blank" onMouseOver="enterMouse('demo4');" onMouseOut="exitMouse('demo4');">
  <div class="box-link3">
  <span id="demo">
   <p>linked </br> &nbsp; &nbsp; &nbsp; &nbsp; mt.in</p>
   </span>
   </div>
  </a>

  <! contact cliff>
  <div class="flag-box4">
   <span id="demo5">

   </span>
  </div>

  <a href="mailto:hagelin.annika@gmail.com" onMouseOver="enterMouse('demo5');" onMouseOut="exitMouse('demo5');">
  <div class="box-link4">
  <span id="demo">
   <p>contact </br> &nbsp; &nbsp; &nbsp; cliff</p>
   </span>
   </div>
  </a>

  <canvas id="cloudCanvas" onClick="addCloud();">
  <span id="cloudCanvas">
   plz respond
   </span>
   </canvas>

  <canvas id="treeCanvas" data-ng-click="homeCtrl.reloadTrees(); updateTitle();">
  <span id="treeCanvas">
   <p id="tree-plot">plz respond</p>
   </span>
   </canvas>

  <div id="puddleDiv" onClick="fishJump()">
   </div>

  <div id="puddleDiv2" onClick="fishJump()">
   </div>

  <div id="puddleDiv3" onClick="fishJump()">
   </div>
 </section>


<!-- </body>
</html> -->
